<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Apt-Url</th>
      <th>Ubuntu-fr</th>
      <th>Site</th>
      <th>Repo</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for logiciel in software_list %}
        <tr>
          <td>{% if logiciel.url_internal %}<a href="{{ logiciel.url_internal }}">{{ logiciel.nom }}</a>{% else %}{{ logiciel.nom }}{% endif %}</td>
          <td>{% if logiciel.apt %}<a href="apt://{{ logiciel.apt }}">{{ logiciel.apt }}</a>{% endif %}</td>
          <td>{% if logiciel.url_doc_ubuntu_fr %}<a href="{{ logiciel.url_doc_ubuntu_fr }}">{{ logiciel.nom }}</a>{% endif %}</td>
          <td>{% if logiciel.url_website %}<a href="{{ logiciel.url_website }}">{{ logiciel.nom }}</a>{% endif %}</td>
          <td>{% if logiciel.url_repository %}<a href="{{ logiciel.url_repository }}">{{ logiciel.nom }}</a>{% endif %}</td>
          <td>{{ logiciel.description }}</td>
        </tr>
        {% endfor %}       
  </tbody>
</table>
